<template name="exercisesList">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="training"}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Exercises</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear" data-ion-modal="_workoutsNew">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                {{#each exercises}}
                    {{> exerciseListItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}

</template>